<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">

<beans>
  <bean id="uploadShapefilePage" class="org.geoserver.web.MenuPageInfo">
    <property name="id" value="uploadShapefilePage"/>
    <property name="titleKey" value="UploadShapefilePage.title"/>
    <property name="descriptionKey" value="UploadShapefilePage.description"/>
    <property name="componentClass" value="org.geoserver.uploadshapefileui.UploadShapefilePage"/>
  </bean>
</beans>
  