<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">
<beans>
  <bean id="createFeatureTypePage" class="org.geoserver.web.MenuPageInfo">
    <property name="id" value="createFeatureTypePage"/>
    <property name="titleKey" value="CreateFeatureTypePage.title"/>
    <property name="descriptionKey" value="CreateFeatureTypePage.description"/>
    <property name="componentClass" value="com.geocent.featuretypebuilder.CreateFeatureTypePage"/>
  </bean>
</beans>
